/* i really want this to be global */
/* avito.ru */
div#ads_ldr_top {display: none !important;}
div#ads_ldr_low {display: none !important;}
div#ads_wl {display: none !important;}
div#ads_tgb1 {display: none !important;}
div#ads_vr_top {display: none !important;}
div#ads_vr_low {display: none !important;}
div#yandex-direct-org {display: none !important;}
div#ads_direct_low {display: none !important;}
/* couchsurfing.com */
div[id^="google_ads_iframe"] {display: none !important;}
/* facebook.com */
div#pagelet_side_ads {display: none !important;}
/* fl.ru */
div.b-banner.b-banner_layout_vert {display: none !important;}
/* google.ru */
li.ads-ad {display: none !important;}
a.ads-bbll {display: none !important;}
div#rhs {display: none !important;}
/* habrahabr.ru */
div#yandex_ad {display: none !important;}
/* mail.3a.by */
div#adunit {display: none !important;}
img.img_ad {display: none !important;}
iframe[id^="google_ads_frame"] {display: none !important;}
/* mail.ru */
div.public__banner {display: none !important;}
td.w-banner {display: none !important;}
div.layout__promotoolbar {display: none !important;}
div#b-slot_left_direct {display: none !important;}
div#b-slot_left_banner {display: none !important;}
div.rbline-state {display: none !important;}
div.direct-state {display: none !important;}
/* onliner.by */
@-moz-document domain("onliner.by")
{
    div.bnr-top-wide {display: none !important;}
    div.swiffy-container {display: none !important;}
    div.b-sidebn {display: none !important;}
    div.b-catalog {display: none !important;}
}
/* quto.ru */
@-moz-document domain("quto.ru")
{
    div.ad_block {display: none !important;}
}
/* rutracker.org */
div[id^="adriver"] {display: none !important;}
div#bn-idx-aiprint {display: none !important;}
div#bn-bot-1 {display: none !important;}
@-moz-document domain('rutracker.org') {
    img[alt="ddos-guard"] {display: none !important;}
    .branding #page_container {background-image: none !important;}
    a.brand-link-1 {display: none !important}
    div#brand-bn-wrap {display: none !important}
}
/* sendspace.com */
div.ads_holder {display: none !important;}
a.ads_remove {display: none !important;}
/* torrents.by */
div#tr_main_cats {display: none !important;}
/* toster.ru */
div[id^="yandex_ad_R"] {display: none !important;}
div#yandex_ad_middle {display: none !important;}
div#yandex_ad_moikrug {display: none !important;}
/* tut.by */
div.b-prmplace {display: none !important;}
/* ucoz.ru */
div[id^="ads_games"] {display: none !important;}
/* userstyles.org */
@-moz-document domain("userstyles.org")
{
    div.ad {display: none !important;} 
}
/* vk.com */
div#ads_left {display: none !important;}
li#l_fr {display: none !important;}
/* yandex.ru */
iframe.yandex-direct {display: none !important;}
@-moz-document regexp('.*yandex.*') {
    iframe.banner-iframe {display: none !important;}
    div#wd-wrapper-_teaser {display: none !important;}
    div.banner {display: none !important;} 
    div.yandir__inner {display: none !important;}
}
div#container.stripe {display: none !important;} /* add iframe domain rule for this */
/* youtube.com */
div#google_companion_ad_div {display: none !important;}